<%= form_for(dream) do |f| %>
  <% if dream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dream.errors.count, "error") %> prohibited this dream from being saved:</h2>

      <ul>
      <% dream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dreamtype %>
    <%= f.text_field :dreamtype %>
  </div>

  <div class="field">
    <%= f.label :dreambudget %>
    <%= f.text_field :dreambudget %>
  </div>

  <div class="field">
    <%= f.label :dreamaddinfo %>
    <%= f.text_field :dreamaddinfo %>
  </div>

  <div class="field">
    <%= f.label :dreamername %>
    <%= f.text_field :dreamername %>
  </div>

  <div class="field">
    <%= f.label :dreameremail %>
    <%= f.text_field :dreameremail %>
  </div>

  <div class="field">
    <%= f.label :dreamerphone %>
    <%= f.text_field :dreamerphone %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
