<p id="notice"><%= notice %></p>

<h1>Dreams</h1>

<table>
  <thead>
    <tr>
      <th>Dreamtype</th>
      <th>Dreambudget</th>
      <th>Dreamaddinfo</th>
      <th>Dreamername</th>
      <th>Dreameremail</th>
      <th>Dreamerphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dreams.each do |dream| %>
      <tr>
        <td><%= dream.dreamtype %></td>
        <td><%= dream.dreambudget %></td>
        <td><%= dream.dreamaddinfo %></td>
        <td><%= dream.dreamername %></td>
        <td><%= dream.dreameremail %></td>
        <td><%= dream.dreamerphone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


