<p id="notice"><%= notice %></p>

<p>
  <strong>Dreamtype:</strong>
  <%= @dream.dreamtype %>
</p>

<p>
  <strong>Dreambudget:</strong>
  <%= @dream.dreambudget %>
</p>

<p>
  <strong>Dreamaddinfo:</strong>
  <%= @dream.dreamaddinfo %>
</p>

<p>
  <strong>Dreamername:</strong>
  <%= @dream.dreamername %>
</p>

<p>
  <strong>Dreameremail:</strong>
  <%= @dream.dreameremail %>
</p>

<p>
  <strong>Dreamerphone:</strong>
  <%= @dream.dreamerphone %>
</p>

<%= link_to 'Edit', edit_dream_path(@dream) %> |
<%= link_to 'Back', dreams_path %>
