 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Help Ghanaian Businesses | Helping Ghanaian Business Grow their Online Presence</title>

    <script src="https://use.fontawesome.com/fc6d352727.js"></script>

   

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



<style type="text/css">
.landingheader{
        color:  #5cc804;
        font-family: 'Roboto Slab', serif;    
        margin: 10px;
        text-align: center;
        margin-top: 25px;
}

.testimonial{
        font-family: 'Roboto Slab', serif;    
        text-align: center;
        color: #ffffff;
}

.landsubtext{
        color: #5cc804;
        font-family: 'Raleway', sans-serif;    
        margin: 10px;
        text-align: center;
        margin-top: 25px;
}

.landhypes{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;    
}

.centerform{
  margin: auto;
  background-color: transparent;
  padding: 20px;
}

.autocent{
    margin-left: 30%;
margin-right:30%;
width: 40%; 
}

.autocent1{
    margin-left: 35%;
margin-right:35%;
width: 30%; 
}

.form-control:focus {
  border-color: rgba(252, 209, 22, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 209, 22, 0.6);
}

.input-lg{
        border: 1px solid #5cc804;
}

.form-control::-moz-placeholder {
  color: #4d4d4d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #4d4d4d;
}
.form-control::-webkit-input-placeholder {
  color: #4d4d4d;
}

.btnbuy{
    background-color: #fdca00;
    border: 1px solid #5cc804;
    color: #5cc804;
    font-weight: 900;
}

.quanfirm{
   background-color: #fdca00;
    border: 1px solid #5cc804;
    color: #ffffff;
    font-weight: 900;
    -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.41);
box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.41);
}

.quanfirm:hover{
   background-color: #fdca00;
    border: 1px solid #5cc804;
    color: #ffffff;
    font-weight: 900;

}

.quanfirm:active{
   background-color: #fdca00;
    border: 1px solid #5cc804;
    color: #ffffff;
    font-weight: 900;

}

.quanfirm1{
   background-color: #5cc804;
    border: 1px solid #5cc804;
    color: #ffffff;
    font-weight: 900;
    -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.41);
box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.41);
}

.quanfirm1:hover{
   background-color: #5cc804;
    border: 1px solid #5cc804;
    color: #ffffff;
    font-weight: 900;

}

.quanfirm1:active{
   background-color: #5cc804;
    border: 1px solid #5cc804;
    color: #ffffff;
    font-weight: 900;

}

.btnbuy:hover{
    background-color: #5cc804;
    border: 1px solid #5cc804;
    color: #ffffff;
    font-weight: 900;
}

.btnbuy:active{
    background-color: #5cc804;
    border: 1px solid #5cc804;
    color: #ffffff;
    font-weight: 900;
}

.informationadded{
    background-color: #5cc804;
    padding-top: 50px;
    padding-bottom: 50px;
}

.infoaddlh{
         font-family: 'Raleway', sans-serif;
         text-align: justify;
         color: white;       
}

.informationhypecontainer{
    margin: 20px;
}

.landfooter{
    background-color: white;
    padding: 40px;
}

.modalsubmit{
    background-color: #5cc804;
    border: 0px solid #5cc804;
}

.modalsubmit:hover{
    background-color: #ffffff;
    border: 1px solid #5cc804;
    color: #5cc804;
}

.modalsubmit:active{
    background-color: #ffffff;
    border: 1px solid #5cc804;
    color: #5cc804;
}

.sidemarg{
    margin-left: 6px;
}

.modalbuytitle{
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #000;
}



.modal-backdrop.in {
  filter: alpha(opacity= 80);
  opacity: 0.8;
}


.testibreak{
   visibility: hidden;
}

.fillform{
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
}

.portfolio{
    margin-top: 0px;
    background-color: #ffffff;
    padding: 50px;
}

.topbody{
    background-color: #5cc804;
    padding-top: 10px;
    padding-bottom: 50px;
}


.visitsite{
    background-color: #5cc804;
    color: #ffffff;
    border: 1px solid #fdca00;
    font-weight: 700;
}

.visitsite:hover{
    background-color: #68e105;
    color: #ffffff;
    border: 1px solid #68e105;
    font-weight: 700;
}

.visitsite:active{
    background-color: #68e105;
    color: #ffffff;
    border: 1px solid #68e105;
    font-weight: 700;
}


/* Card items */


.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 3px 12px 6px rgba(0,0,0,0.31);
-moz-box-shadow: 2px 3px 12px 6px rgba(0,0,0,0.31);
box-shadow: 2px 3px 12px 6px rgba(0,0,0,0.31);
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    background-color: #ffffff;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    color:  #5cc804;
        font-family: 'Roboto Slab', serif; 
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    font-family: 'Raleway', sans-serif; 
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.float-right{
   
}

.phead{
     color:  #5cc804;
        font-family: 'Roboto Slab', serif;    
        margin: 10px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 3px dashed #5cc804;
}

.landsubtext1{
        color: #5cc804;
        font-family: 'Raleway', sans-serif;    
        margin: 10px;
        text-align: center;
        margin-top: 25px;
}


@media only screen and (min-width : 100px) and (max-width : 600px) {

    .landingheader{
        color:  #5cc804;
        font-family: 'Roboto Slab', serif;    
        margin: 10px;
        text-align: center;
        margin-top: 25px;
        font-size: 25px;
}

.testimonial{
        font-family: 'Roboto Slab', serif;    
        text-align: center;
        color: #ffffff;
        font-size: 20px;
}

.landsubtext{
        color: #5cc804;
        font-family: 'Raleway', sans-serif;    
        margin: 10px;
        text-align: center;
        margin-top: 25px;
        font-size: 16px;
}

.testibreak{
    visibility: visible;
}

.autocent{
    margin-left: 10%;
margin-right:10%;
width: 80%; 
}

.autocent1{
    margin-left: 10%;
margin-right:10%;
width: 80%; 
}

.sidemarg{
    margin-left: 0px;
}

.quanfirm{
   background-color: #fdca00;
    border: 1px solid #5cc804;
    color: #ffffff;
    font-weight: 900;
    font-size: 15px;
    -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.41);
box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.41);
}



}

</style>


<body style="background-color: #ffffff; border-top: 5px solid #5cc804;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
<br>
    <p style="width: 100%; text-align: center;"><img
      src="https://res.cloudinary.com/nikasemo/image/upload/v1507221925/sitelogogbnh_xzbfky.png" class="img-responsive"></p>
         <% if notice %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p class="notice"><%= notice %></p>
</div>
<% end %>
    <h1 class="landingheader">We Help Ghanaian Businesses Grow Online!</h1>
<h3 class="landsubtext">We build Solution Oriented Websites that will help you get more sales, more customers, and more clients.</h3>

             <p style="width: 100%; text-align: center;">
<button type="button" class="btn btn-primary btn-lg autocent1 quanfirm" data-toggle="modal" data-target="#exampleModal">
               Get Online With Us Now!
              </button>
            </p>

<p style="text-align: center; color: #5cc804; margin-top: 7px;"><small>Get all your social media accounts setup for you for free by professionals</small></p>
<p style="text-align: center;"><img  
  src="https://res.cloudinary.com/nikasemo/image/upload/v1507221815/homewebimg_cj7n9a.png" class="img-fluid"></p>

</div>

 
</div>
</div>
</div>
<section class="informationadded">
<div class="container">
    <div class="row">
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507221814/webdesign_xg11ar.png" width="40px" height="40px" class="img-responsive">
                <h4 class="landhypes">Modern websites with modern technology.</h4>
                <p class="infoaddlh">
                 You have nothing to bother about when it comes to competence. Our team of experienced designers and programmers use the latest techniques and trends to build your beautiful, charming, and purpose driven websites. We do it with the passion that brings results.
                
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507221814/marketingpeformance_yygryf.png" width="40px" height="40px" class="img-responsive">
                <h4 class="landhypes">Marketing your website to the World.</h4>
                <p class="infoaddlh">
                 Having a website alone does not guarantee you success in this web 2.0 era. Our Internet marketing experts use various platforms, like facebook, google search and email marketing to ensure continous engagement for positive results in your business.
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12" style="margin-bottom: 20px;">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507221814/maintenancewebsites_aiur7x.png" width="40px" height="40px" class="img-responsive">
                <h4 class="landhypes">Best Website Support and Maintenance.</h4>
                <p class="infoaddlh">
                 With Maintenance being key to longevity, we always update your website with the newest web technologies that will put you at the cutting edge of the market. The internet is the fastest growing engine the world has ever seen in its entire history. We won't leave you behind.
                </p>
            </div>
        </div>
    </div>

    <div id="myDiv">
      <h2 class="landingheader" style="margin-bottom: 25px; color: white; margin-top: 20px;">Get online with us. Fill form below..</h2>
   </div>

    <div class="row justify-content-md-center">
<div class="col-sm-12 col-md-6 col-lg-6 offset-lg-3">
<div class="fillform">
<h1 class="landingheader" style="color: #000; font-size: 25px; margin-bottom: 25px;">Kindly fill this form.</h1>

       <%= form_for(@dream) do |f| %>
<br>
  <h5 style="text-align: center;">Website & Budget</h5>
<hr>
   <div class="form-group">
    <label>What type of website do you want?</label><br>
        <select class="selecter" name="dream[dreamtype]" id="dream_dreamtype" style="width: 100%;">
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Personal Website">Personal Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Portfolio Website">Portfolio Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Company Website">Company Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Church Website">Church Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="School Website">School Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Business Website">Business Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Ecommerce Web Applications">Ecommerce Web Applications</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Job Portal Web Applications">Job Portal Web Applications</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Customized Business Web Applications">Customized Business Web Applications</option>
        </select>
      </div>
       <div class="form-group">
    <label>What is your budget Allocation for your website?</label><br>
        <select class="selecter" name="dream[dreambudget]" id="dream_dreambudget" style="width: 100%;">
          <option name="dream[dreambudget]" id="dream_dreambudget" value="300 - 499">300 - 499 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="500 - 699">500 - 699 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="700 - 999">700 - 999 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="1000 - 1499">1000 - 1499 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="2000 - 2999">2000 - 2999 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="3000 +">3000+ cedis </option>
        </select>
      </div>
      <div class="form-check">
    <label class="form-check-label">
         <%= f.check_box :urgent, :class => "form-check-input" %>
      Check box if urgent
    </label>
  </div>
<br>
  <h5 style="text-align: center;">Your Contact details</h5>
<hr>
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="dream[dreamername]" id="dream_dreamername" class="form-control" placeholder="Your Name">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="dream[dreameremail]" id="dream_dreameremail" class="form-control" placeholder="Email Address">
  </div>
  <div class="form-group">
    <label>Phone Number</label>
    <input type="number" name="dream[dreamerphone]" id="dream_dreamerphone" class="form-control" placeholder="Your Phone number">
  </div>
 
       <p style="color: #5cc804; text-align: center;">Response time is usually within a day. More information will be requested when we contact you. Thank you.</p> 
        <p style="text-align: center; "><button type="submit" class="btn btn-primary btn-lg">Submit</button></p>
      </div>
       
      
      <% end %>
</div>

</div>
</div>

</div>
</section>


<section class="portfolio">
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="phead" style="text-align: center;">Websites we have Built.</h1>
    </div>
  </div>
     <div class="row" style="margin-top: 35px;">
            
            <div class="col-sm-12 col-md-6 col-lg-12">
                <div class="card">
                    <img class="card-img-top" src="https://res.cloudinary.com/nikasemo/image/upload/v1506955678/syria_c3hvqn.jpg">
                    <div class="card-block">
                        <h4 class="card-title">A Web Gallery for Syriatex</h4>
                        <div class="meta">
                            <a href="http://syriatexghana.com/" target="_blank"><strong>Syriatex Ghana</a>
                        </div>
                        <div class="card-text">
                           Syriatex is one Ghana's top three upholstery shops. They sell kitchen furniture, office furniture, home furniture, curtains, blinds, beds and so on. it was a great experience working with them.
                        </div>
                    </div>
                    <div class="card-footer" style="padding-bottom: 5px;">
                        <span class="float-right"><a href="http://syriatexghana.com/" target="_blank" style="font-family: 'Lobster', cursive; font-size: 20px;" class="">Visit Site</a></span>
                      
                    </div>
                </div>
            </div>

             <div class="col-sm-12 col-md-6 col-lg-12">
                <div class="card">
                    <img class="card-img-top" src="https://res.cloudinary.com/nikasemo/image/upload/v1506955678/laanatis_bybr9y.jpg">
                    <div class="card-block">
                        <h4 class="card-title">A result oriented Consulting Website for Legon Analytics</h4>
                        <div class="meta">
                            <a href="http://legonanalytics.com/" target="_blank"><strong>Legon Analytics</a>
                        </div>
                        <div class="card-text">
                            Legon Analytics is a result oriented company that provides data analytic solutions to big companies and organizations like PWC and University of Ghana. it was Great working with Dr. Baidoo. Too much wisdom in one man.
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right"><a href="http://legonanalytics.com/" target="_blank" class=" visitsite btn btn-primary" >Visit Site</a></span>
                   
                    </div>
                </div>
            </div>

 <div class="col-sm-12 col-md-6 col-lg-12">
                <div class="card">
                    <img class="card-img-top" src="https://res.cloudinary.com/nikasemo/image/upload/v1506955678/whfred_mhrsc7.jpg">
                    <div class="card-block">
                        <h4 class="card-title">Fred's Analysis Brought out the Best in me</h4>
                        <div class="meta">
                            <a href="http://www.wliwaterheightshotel.com/" target="_blank">Wli Water Heights Hotel</a>
                        </div>
                        <div class="card-text">
                           Wli Water Heights Hotel is located in Wli, in the heart of the Volta Region. Probably the most audited work I have ever done. I am very proud of it. The website makes simplicity beautiful. Love to you Fred.
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right"><a href="http://www.wliwaterheightshotel.com/" target="_blank" class="visitsite btn btn-primary">Visit Site</a></span>
                        
                    </div>
                </div>
            </div>

             <div class="col-sm-12 col-md-6 col-lg-12">
                <div class="card">
                    <img class="card-img-top" src="https://res.cloudinary.com/nikasemo/image/upload/v1506955678/oaks_xrh1fm.jpg">
                    <div class="card-block">
                        <h4 class="card-title">One of my Very First Client Works :)</h4>
                        <div class="meta">
                            <a href="http://oakssev.com/" target="_blank">Oaks Survey and Engineering Ventures</a>
                        </div>
                        <div class="card-text">
                            One of my very first client works done. Still looks great and Thanks to Mr. Acquay for believing in me.
                            It is funny he is in love with me as a designer than a web developer because of the logo I developed for him. Bless Sir. I Appreciate you.
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right"><a href="http://oakssev.com/" target="_blank" class="visitsite btn btn-primary">Visit Site</a></span>
                   
                    </div>
                </div>
            </div>
          <br>
          <h3 class="landsubtext1">Our websites provided real value to our client and they have never regretted working a website. Having a website in this day and age a great way to grow your business.</h3>
           <p style="width: 100%; text-align: center; margin-top: 20px;">
            <button type="button" class="btn btn-primary btn-lg autocent1 quanfirm1" data-toggle="modal" data-target="#exampleModal">
               Get Online With Us Now!
              </button>
          </p>
          <p style="text-align: center; color: #000; font-size: 14px; margin-top: 10px; font-family: 'Raleway', sans-serif;"><small>Get all your social media accounts setup for you <br>for free by professionals</small></p>
        </div>
</div>


</section>

<section class="informationadded">
<div class="container">
<div class="row">
<div class="col-sm-12">
            <h1 class="testimonial">
              "Having had prior experience with other<br> web developers, The experience Help<br> Ghanaian Businesses gave me was<br> different because they truly<br> are. I think they<br> are the Best!"<br>
              <br class="testibreak">
              <span class="testimon" style="font-size: 16px; font-weight: 500; font-family: 'Raleway', sans-serif;">Agent Kofi, C.E.O of Ghanagold</span>
            </h1>
        </div>

        <div class="col-sm-12">
             <p style="width: 100%;">
              <button type="button" class="btn btn-primary btn-lg autocent1 quanfirm" data-toggle="modal" data-target="#exampleModal">
               Get Online With Us Now!
              </button>
             </p>
        </div>
</div>
</div>
</section>


<section class="landfooter">
<p style="text-align: center; line-height: 25px;">
<span style="margin-right: 15px;"><i class="fa fa-envelope-o" aria-hidden="true" style="color: #000;"></i>
<span style="margin-left: 0px; color: #000;">help@helpghanaianbusinesses.com</span>
</span><br>
<span style="margin-right: 15px;">
 <i class="fa fa-phone" aria-hidden="true" style="color: #000;"></i>
<span style="margin-left: 0px; color: #000;">+233 507177187, +233 553393260</span>
</span><br>
<span>
<i class="fa fa-whatsapp" aria-hidden="true" style="color: #000;"></i>
<span style="margin-left: 0px; color: #000;">+233 553393260</span>
</span>
</p>
</section>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kindly fill this form.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
               <%= form_for(@dream) do |f| %>
<br>
  <h5 style="text-align: center;">Website & Budget</h5>
<hr>
   <div class="form-group">
    <label>What type of website do you want?</label><br>
        <select class="selecter" name="dream[dreamtype]" id="dream_dreamtype" style="width: 100%;">
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Personal Website">Personal Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Portfolio Website">Portfolio Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Company Website">Company Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Church Website">Church Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="School Website">School Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Business Website">Business Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Ecommerce Web Applications">Ecommerce Web Applications</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Job Portal Web Applications">Job Portal Web Applications</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Customized Business Web Applications">Customized Business Web Applications</option>
        </select>
      </div>
       <div class="form-group">
    <label>What is your budget Allocation for your website?</label><br>
        <select class="selecter" name="dream[dreambudget]" id="dream_dreambudget" style="width: 100%;">
          <option name="dream[dreambudget]" id="dream_dreambudget" value="300 - 499">300 - 499 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="500 - 699">500 - 699 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="700 - 999">700 - 999 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="1000 - 1499">1000 - 1499 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="2000 - 2999">2000 - 2999 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="3000 +">3000+ cedis </option>
        </select>
      </div>
      <div class="form-check">
    <label class="form-check-label">
         <%= f.check_box :urgent, :class => "form-check-input" %>
      Check box if urgent
    </label>
  </div>
<br>
  <h5 style="text-align: center;">Your Contact Details</h5>
<hr>
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="dream[dreamername]" id="dream_dreamername" class="form-control" placeholder="Your Name">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="dream[dreameremail]" id="dream_dreameremail" class="form-control" placeholder="Email Address">
  </div>
  <div class="form-group">
    <label>Phone Number</label>
    <input type="number" name="dream[dreamerphone]" id="dream_dreamerphone" class="form-control" placeholder="Your Phone number">
  </div>
 
       <p style="color: #5cc804; text-align: center;">Response time is usually within a day. More information will be requested when we contact you. Thank you.</p> 
        <p style="text-align: center; "><button type="submit" class="btn btn-primary modalsubmit">Submit</button></p>
      </div>
       
      
      
      </div>
     
      <% end %>
    </div>
  </div>
</div>

</body>

<script type="text/javascript">
  
$(document).ready(function() {
    $('selecter').select2();
});

</script>

<script type="text/javascript">

$("#loyalty").click(function() {
    $('html, body').animate({
        scrollTop: $("#myDiv").offset().top
    }, 1000);
});

$("#loyalty1").click(function() {
    $('html, body').animate({
        scrollTop: $("#myDiv").offset().top
    }, 1000);
});

$("#loyalty2").click(function() {
    $('html, body').animate({
        scrollTop: $("#myDiv").offset().top
    }, 1000);
});

</script>

</html>