<title>helpbusinessesonline.com | <%= @article.title %></title>
<meta name="description" content="<%= @article.metadescription %>">
      <meta name="keywords" content="<%= @article.metakeywords %>">
      <meta name="author" content="helpbusinessesonline.com">
      <meta property="og:title" content="<%= @article.title %>">
      <meta property="og:description" content="<%= @article.metadescription %>">
      <meta property="og:url" content="<%= article_url(@article) %>" />
     <meta property="og:image" content="<%= @article.articleimage %>" />

<style type="text/css">
.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(<%= @article.articleimage %>);
  background-position:center;
  min-height: 200px;
}

.sectionname{
   text-align: left; 
   color: white; 
   position: relative; 
   top: 75px; 
   font-weight: 500; 
   font-size: 30px; 
   text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}

.sectiondescrip{
  text-align: left; 
   color: white; 
   position: relative; 
   top: 80px; 
   font-weight: 300; 
   font-size: 14px; 
}

.registerbox{
  margin: 12px;
  background-color: #2d76ed;
  border: 8px solid #77a9f9;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 40px;
}

.websubmit{
  background-color: #43cc30;
  border-bottom: 2px solid #67f254;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.websubmit:hover{
  background-color: #43cc30;
  border-bottom: 3px solid #2ae00f;
  font-weight: 500;
  color: white;
}

.websubmit:active{
  background-color: #43cc30;
  border-bottom: 3px solid #2ae00f;
  font-weight: 500;
  color: white;
}

#share-buttons{
  position: relative; 
  top: 80px;
}

#share-buttons img {
width: 42px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

.bodyhold{
  margin-top: 20px;
  margin-bottom: 20px;
}

.adonis{
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
}

.famcolor{
  background-color: #5cc804;
  color: white;
  border: 1px solid #5cc804;
}

.famcolor:hover{
  background-color: #fdca00;
  color: white;
  border: 2px solid #5cc804;
}

.famcolor:active{
  background-color: #fdca00;
  color: white;
  border: 1px solid #5cc804;
}

.containit{
  margin-left: 50px;
  margin-right: 50px;
}

.sidebarwebsite{
  width: 100%;
  background-color: white;
  padding: 20px;
  border-top: 7px solid #5cc804;
  position: relative;
  top: -25px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
}

.sidebarnewsletter{
  width: 100%;
  background-color: white;
  padding: 20px;
  border-top: 7px solid #5cc804;
  border-bottom: 7px solid #5cc804;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
}

.webcall{
  font-weight: 700;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.21);
box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.21);
}

.newscall{
   font-weight: 700;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.21);
box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.21);
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

  .navbar-light .navbar-brand1{
font-size: 14px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(<%= @article.articleimage %>);
  background-position:center;
  height: 350px;
  position: relative;
  top: -50px;
}

.containit{
  margin-left: 20px;
  margin-right: 20px;
}

.sidebarwebsite{
  width: 100%;
  background-color: white;
  padding: 20px;
  border-top: 7px solid #5cc804;
  position: relative;
  top: 0px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
}


}

</style>

<section class="aduins">
  <div class="container">
    <div class="row" style="margin-top: 50px">
      <div class="col-lg-12">
        <h1 class="sectionname" style=""><%= @article.title %></h1>
      </div>
    </div>
    <div class="row" style="margin-top: 0px">
      <div class="col-lg-6">
        <p class="sectiondescrip">Helpghanainbusinesses.com / <% if @article.sections.first %> <%= @article.sections.first.name %> <% end %> / Last Modified: <%= @article.updated_at %></p>
      </div>
      <div class="col-lg-6">
        
       
       <div id="share-buttons" style="">
     <span style="color: white; text-transform: uppercase; font-size: 15px; font-weight: 400; margin-right: 20px;">Share this </span>
     <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=<%= article_url(@article) %>" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=<%= article_url(@article) %>" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= article_url(@article) %>" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
    
    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a>
     
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=<%= article_url(@article) %>&amp;text=<%= @article.title %>&amp;hashtags=HelpingBusinessesOnline" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
</div>
      </div>
    </div>
  </div>
</section>

<section class="sectionbody">
  <div class="containit">
    <div class="row">
      <div class="col-lg-9 col-md-12">
        <div class="row">
          <div class="col-sm-12">
         <div class="bodyhold">
        <img src="<%= @article.articleimage %>" height="200px" width="320px" style="position: relative; float: left; margin-right: 20px; margin-bottom: 20px;">
        
        <%=h raw @article.body %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
         <div class="registerbox">
    <div class="row" style="margin-bottom: 12px;">
      <div class="col-lg-8">
        <p style="color: white;"><span style="font-weight: 700; font-size: 20px;">Register Today:</span><br> Our Mission is to help business grow in sales, revenue and brand equity using the internet. 
        <strong>Register today for the best tips, advice and services to help grow your business!</strong></p>
      </div>
      <div class="col-lg-4">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1509523565/targetregister_fbrvd8.png" class="img-fluid">
      </div>
    </div>
   <div class="row">
    <div class="col-lg-12">
<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-row">
    <div class="col">
    <%= f.text_field :name, :class=> "form-control", :placeholder => "Your Name" %>
    </div>
    <div class="col">
    <%= f.text_field :organization, :class=> "form-control", :placeholder => "Business Name" %>
    </div>
  </div>
<br>
  <div class="form-group" style="margin-bottom: 25px;">
    <%= f.text_field :email, :class=> "form-control", :placeholder => "Your primary Email" %>
  </div>
  <div class="form-group">
    <%= f.text_field :phone, :class=> "form-control", :placeholder => "Your Phone Number" %>
  </div>
<br>
   <p style="text-align: center;"><button type="submit" class="btn btn-primary websubmit btn-lg">Register Today!</button></p>
<% end %>
</div>
</div>
</div>

      </div>
    </div>
      </div>

      <div class="col-lg-3 col-md-12">
        <div class="sidebarwebsite" style="">
          <p style="text-align: center"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1510353900/why_qdrevl.png" class="img-fluid"></p>
          <p style="font-weight: 300; font-size: 18px;">
           There is no successful business without a website!
            <br> <span style="color: #5cc804;">When will you create yours?</span></p>
          <p style="text-align: center;"><a href="" class="btn btn-primary adonis famcolor">Get yours today!</a></p>
        </div>

        <div class="sidebarnewsletter" style="margin-top: 5px; margin-bottom: 12px;">
          <h4>Get Updated!</h4>
          <p style="font-weight: 300; font-size: 15px;">
           Get notified anytime we post a new article, an offer, or a lesson which will help you get more out of your website!
          </p>
          <%= form_for(@newsletter) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
      <% @newsletter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.text_field :name, :class => "form-control", :placeholder => "First Name" %>
    <br>
    <%= f.text_field :email, :class => "form-control", :placeholder => "Your Email"  %>
    <br>
   <p style="text-align: center;"><%= f.submit "Sign Up for Newsletter!", :class => "btn btn-primary adonis famcolor" %></p>
 
<% end %>

        </div>

      </div>
    </div>
  </div>
</section>






















