<%= form_for(potential) do |f| %>
  <% if potential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(potential.errors.count, "error") %> prohibited this potential from being saved:</h2>

      <ul>
      <% potential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :digim %>
    <%= f.text_field :digim %>
  </div>

  <div class="field">
    <%= f.label :searcheo %>
    <%= f.text_field :searcheo %>
  </div>

  <div class="field">
    <%= f.label :socem %>
    <%= f.text_field :socem %>
  </div>

  <div class="field">
    <%= f.label :orgname %>
    <%= f.text_field :orgname %>
  </div>

  <div class="field">
    <%= f.label :goal %>
    <%= f.text_area :goal %>
  </div>

  <div class="field">
    <%= f.label :webs %>
    <%= f.text_field :webs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
