<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @potential.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @potential.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @potential.email %>
</p>

<p>
  <strong>Digim:</strong>
  <%= @potential.digim %>
</p>

<p>
  <strong>Searcheo:</strong>
  <%= @potential.searcheo %>
</p>

<p>
  <strong>Socem:</strong>
  <%= @potential.socem %>
</p>

<p>
  <strong>Orgname:</strong>
  <%= @potential.orgname %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @potential.goal %>
</p>

<p>
  <strong>Webs:</strong>
  <%= @potential.webs %>
</p>

<%= link_to 'Edit', edit_potential_path(@potential) %> |
<%= link_to 'Back', potentials_path %>
