<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emailcourse.name %>
</p>

<p>
  <strong>Businessname:</strong>
  <%= @emailcourse.businessname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @emailcourse.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @emailcourse.phonenumber %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @emailcourse.staff %>
</p>

<p>
  <strong>Resultsiwant:</strong>
  <%= @emailcourse.resultsiwant %>
</p>

<%= link_to 'Edit', edit_emailcourse_path(@emailcourse) %> |
<%= link_to 'Back', emailcourses_path %>
