<%= form_for(appointment) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Name", :class => "labeltitle" %>
    <%= f.text_field :name, :class => "form-control", :Placeholder => "Your name" %>
  </div>

  <div class="form-group">
    <%= f.label "Your Email", :class => "labeltitle" %>
    <%= f.text_field :email, :class => "form-control", :Placeholder => "Your Email" %>
  </div>

  <div class="form-group">
    <%= f.label "Your Phone Number", :class => "labeltitle" %>
    <%= f.text_field :phonenum, :class => "form-control", :Placeholder => "Your Phone Number" %>
  </div>

  <p style="text-align: center;">A call appointment will be scheduled as soon as possible.</p>

  <div class="form-group">
    <p style="text-align: center;"><%= f.submit "Submit", :class => "btn btn-lg btn-success" %></p>
  </div>
<% end %>

