<p id="notice"><%= notice %></p>

<h1>Legends</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legends.each do |legend| %>
      <tr>
        <td><%= legend.name %></td>
        <td><%= legend.email %></td>
        <td><%= legend.phone %></td>
        <td><%= link_to 'Show', legend %></td>
        <td><%= link_to 'Edit', edit_legend_path(legend) %></td>
        <td><%= link_to 'Destroy', legend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legend', new_legend_path %>
