<!DOCTYPE html>
<html>
  <head>
   
    <%= csrf_meta_tags %>
 <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Help Ghanaian Businesses | Helping Ghanaian Business Grow their Online Presence</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag 'bootstrap.css', :media => 'all' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    <script src="https://use.fontawesome.com/fc6d352727.js"></script>
   

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  </head>

  <body style="background-color: #5cc804; border-top: 5px solid #ffffff;">
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'bootstrap.js' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
  </body>
</html>
