<head>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest1.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
     <link rel="manifest" href="/manifest.json">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      appId: "6eb1cfb7-d35d-4286-99ab-fb0c9c922b51",
      autoRegister: true,
      notifyButton: {
        enable: false /* Set to false to hide */
      }
    }]);
  </script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.1/trix.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag 'full-slider.css', :media => 'all' %>
     <%= stylesheet_link_tag 'style.css', :media => 'all' %>
    <script src="https://use.fontawesome.com/fc6d352727.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=David+Libre|Hind:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109167007-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109167007-1');
</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '127118771386126');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=127118771386126&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


<style type="text/css">

a {
  color: #8F3985;
  text-decoration: none;
}

a:hover {
  color: #8F3985;
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}



html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Hind", sans-serif;
  color: #25283D;
  background-color: #ECF0F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.paddy{
  font-size: 18px;
  font-weight: 300;
  color: #5cc804;
  font-family: 'Poppins', sans-serif;
}

.form-control{
  font-size: 18px;
}

.btn{
  font-size: 18px;
}

.cd-secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  height: 50px;
  background-color: #5cc804;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-secondary-nav::after {
  /* gradient on the right - to indicate it's possible to scroll */
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
  background: transparent;
  
  pointer-events: none;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.cd-secondary-nav.nav-end::after {
  opacity: 0;
}
.cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
  height: 100%;
}
.cd-secondary-nav ul {
  /* enables a flex context for all its direct children */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-secondary-nav ul::after {
  clear: both;
  content: "";
  display: block;
}
.cd-secondary-nav li {
  display: inline-block;
  float: left;
  /* do not shrink - elements float on the right of the element */
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.cd-secondary-nav li:last-of-type {
  padding-right: 20px;
}
.cd-secondary-nav a {
  display: block;
  color: #ffffff;
  opacity: .7;
  line-height: 50px;
  padding: 0 1em;
}
.cd-secondary-nav a:hover {
  opacity: 1;
  font-weight: 700;
  border-bottom: 2px solid #ffffff;
}

.cd-secondary-nav a.active {
  opacity: 1;
  font-weight: 700;
  background-color: #fdca00;
}

@media only screen and (min-width: 1024px) {
  .cd-secondary-nav {
    height: 70px;
    overflow: visible;
  }
  .cd-secondary-nav ul {
    /* reset mobile style */
    display: block;
    text-align: center;
  }
  .cd-secondary-nav li {
    /* reset mobile style */
    float: none;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
  }
  .cd-secondary-nav a {
    line-height: 70px;
  }
  .cd-secondary-nav a.active {
    box-shadow: inset 0 -3px #ffffff;
  }
}

.cd-primary-nav {
  font-family: 'Poppins', sans-serif;

  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #5cc804;
  font-size: 16px;
  border-top: 2px solid #000;
}
.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: #fdca00;
}
@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /* 
    show primary nav - mobile only 
    :target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }

}

@media only screen and (min-width : 100px) and (max-width : 600px) {
  .paddy{
    font-size: 14px;
  }

}


</style>

  </head>
 
  <body>

  <header class="cd-auto-hide-header">
  <div class="logo">
   <a class="navbar-brand1" href="/" style=""><img src="https://res.cloudinary.com/nikasemo/image/upload/v1515260494/logowebsite111_hqcvbh.png" height="30px" width="55px" style="margin-right:5px; margin-top: 30px;"><span style="position:relative; top: -32px; left: 60px;" class="paddy">Help Businesses <span style="font-weight: 700; color: #fdca00;">Online</span></span></a>
  </div>

  <nav class="cd-primary-nav">
    <a href="#cd-navigation" class="nav-trigger">
      <span>
        <em aria-hidden="true"></em>
        Menu
      </span>
    </a> <!-- .nav-trigger -->

    <ul id="cd-navigation">
      <li><a href="#0">Other Services</a></li>
      <% if signed_in? %>
      <li><%= link_to '<span><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</span>'.html_safe, destroy_user_session_path, :method => :delete, :class => "" %></li>
      <li><%= link_to '<span><i class="fa fa-user" aria-hidden="true"></i> Profile</span>'.html_safe, current_user %></li>
      <% else %>
      <li><a href="/users/sign_in"><i class="fa fa-sign-in" aria-hidden="true"></i> Client login</a></li>
      <li><a href="/"><span style="color: #5cc804; font-weight: 900;">Join Our Business Community</span></a></li>
      <% end %>
    </ul>
  </nav> <!-- .cd-primary-nav -->

  <nav class="cd-secondary-nav">
    <ul>
      <li><a href="/sections/digital-matketing">Digital Marketing</a></li>
      <li><a href="/sections/websites">Websites</a></li>
      <li><a href="/sections/search-engine-optimization">SEO</a></li>
      <li><a href="/sections/email-marketing">Email Marketing</a></li>
      <li><a href="/sections/facebook-marketing">Facebook Marketing</a></li>
      <li><a href="/sections/google-marketing">Google Adverts</a></li>
      <li><a href="#0" class="active">Expert Advice</a></li>
    </ul>
  </nav> <!-- .cd-secondary-nav -->
</header> <!-- .cd-auto-hide-header -->

  
<main style="padding-top: 100px;">

    <%= yield %>

    
</main>
  
<%= render 'layouts/footer' %>

       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'scroll-reveal.js' %>
    <%= javascript_include_tag 'main.js' %>

    <script>
    $.fn.scrollReveal();  
    </script>

  </body>
</html>
